<div class="toolbar" role="banner">
  <h4>Metro Transit</h4>
</div>

<div class="content">
  <div class="card highlight-card">
    <img
      width="50"
      alt="Angular Logo"
      src="https://corporate.target.com/_media/TargetCorp/Press/B-roll%20and%20Press%20Materials/Logos/Target_Bullseye-Logo_Red.jpg?preset=640w"
    />

    <span>Real time departure by route</span>
  </div>

  <h5>Next Trip</h5>
  <app-select-options class="select-options"></app-select-options>
</div>

<router-outlet></router-outlet>
